@import url("https://fonts.googleapis.com/css2?family=Andika&family=Barlow+Condensed:wght@200&family=Inconsolata:wght@500&family=Inter:wght@100;300&family=Josefin+Sans:wght@200&family=Manrope:wght@500&family=Roboto&family=Rubik:wght@400;500&family=Space+Grotesk:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika&family=Barlow+Condensed:wght@200&family=Hind+Madurai:wght@700&family=Inconsolata:wght@500&family=Inter:wght@100;300&family=Josefin+Sans:wght@200&family=Manrope:wght@500&family=Roboto&family=Rubik:wght@400;500&family=Space+Grotesk:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Andika&family=Barlow+Condensed:wght@200&family=Hind+Madurai:wght@700&family=Inconsolata:wght@500&family=Inter:wght@100;300&family=Josefin+Sans:wght@200&family=Manrope:wght@500&family=Merriweather+Sans&family=Roboto&family=Rubik:wght@400;500&family=Space+Grotesk:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Andika&family=Barlow+Condensed:wght@200&family=Fredoka:wght@500&family=Hind+Madurai:wght@700&family=Inconsolata:wght@500&family=Inter:wght@100;300&family=Josefin+Sans:wght@200&family=Manrope:wght@500&family=Merriweather+Sans&family=Roboto&family=Rubik:wght@400;500&family=Space+Grotesk:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Andika&family=Barlow+Condensed:wght@200&family=Fredoka:wght@500&family=Hind+Madurai:wght@400;700&family=Inconsolata:wght@500&family=Inter:wght@100;300&family=Josefin+Sans:wght@200&family=Manrope:wght@500&family=Merriweather+Sans&family=Roboto&family=Rubik:wght@400;500&family=Space+Grotesk:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html {
  padding: 0px;
  margin: 0px auto;
  box-sizing: border-box;
}
.container {
  max-width: 1920px;
  margin: 0px auto;
  border: 2px solid grey;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #faebf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  box-shadow: 0 5px 10px #000;
  width: 100%;
  height: 10%;
}
header .logo {
  font-size: 20px;
  font-weight: 900;
  color: black;
  transition: 0.5s;
}

button {
  width: 165px;
  height: 49px;
  border-radius: 5px;
  background: #d23166;
  color: #fafafa;
  font-family: "Hind Madurai", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
button:hover {
  cursor: pointer;
  background: #bc2255;
}
.container_nav {
  display: flex;
  gap: 50px;
  width: 500px;
}
/*main -----------------*/
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
}
.links ul li {
  position: relative;
}

.links ul li a {
  padding: 15px;
  color: black;
  font-size: 16px;
  display: block;
  transition: 0.5s;
}
.links ul li a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.2);
}

.links ul li ul {
  position: absolute;
  left: 0;
  background: white;
  width: 180px;
  display: none;
  text-align: center;
  border: 1px solid rgb(174, 174, 175);
  box-shadow: 0 5px 10px black;
  transition: 0.5s;
  transform: scale(1.1);
}

.links ul li ul a {
  font-size: 12px;
}

.links ul li ul li {
  width: 100%;
}
.links ul li ul li ul {
  left: 180px;
  top: 0;
}
.links ul li:hover > ul {
  display: initial;
}
/*first_content*/

/*product-----------------*/
.product {
  padding: 50px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
}

.product h1 {
  width: 100%;
  text-align: center;
}
.links_product {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.section1 {
  position: relative;
  padding: 20px;
  border: 2px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 500px;
  z-index: -1;
}
.section1 img {
  border: 2px solid black;
}

input[type="checkbox"]:checked {
  background-color: #00ff00; /* Yashil rangli orqa fon */
}

/* прячем input checkbox */

/*payme-----------------------------------*/

/*section*/

/*footer---------------------*/

footer {
  width: 100%;
  height: 300px;
  background: #0a0808;
}

.visa {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.visa img {
  width: 100px;
}
#master {
  width: 120px;
}
#visa {
  width: 100px;
}
